@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-size: 0.5em;
    background-color: #fbfbff;
    background-image: radial-gradient(#363a88 0.5px, transparent 0.5px), radial-gradient(#303267 0.5px, #c8d5a7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.container {
    text-align: center;
}

header {
    padding: 30px;
    margin-bottom: 0px;
}

.img_ig {
    filter: invert(22%);
    width: 26px;
    height: 26px;
}

.img_in {
    filter: invert(20%);
}

.img_git {
    filter: invert(20%);
}

.img_mail {
    filter: invert(20%);
    width: 28px;
    height: 28px;
}

header img {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    border: 0.5px solid #5a5858;
    box-shadow: -10px 5px 5px rgba(0, 0, 0, 0.40);
}

.content {
    color: #414141;
}

nav a:link img {
    padding: 10px;
    margin-top: -25px;
    max-width: 30px;
    color: #5a5858;
}

.profileText {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 25px;
    max-width: 360;
    font-size: 1.4em;
    color: #414141;
}

.text {
    text-decoration: none;
    color: #414141;
    font-weight: bold;
}

ul {
    padding: 30px;
    list-style: none;
    max-width: 150px;
    margin: 10px auto;
}

ul li a:link,
ul li a:visited {
    background-color: #fff;
    font-size: 1.5em;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid #414141;
    box-shadow: -5px 2px 1px rgba(0, 0, 0, 0.35);
    color: #414141;
    background-color: #e5f0ca;
    ;
}

ul li a:hover,
ul li a:active {
    background-color: #d8d5d5;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

hr {
    background-color: #414141;
    border: 0;
    height: 1px;
    max-width: 90%;
    margin: 50px auto;
    margin-bottom: 0px;
}

footer {
    margin: 10px auto;
}
